<h1>Blog Rails 3 </h1>
<% cache do %>
	<% @posts.each do |post| %> 
	<h2><%= link_to post.tittle, post %></h2> by <%= post.author.name unless post.author == nil %>	
	<div class="entry">
		<% if author_signed_in? %>
			<%= link_to "Edit", edit_post_path(post) %>
			<%= button_to "Delete", post_path(post), :confirm => "Are you sure?", :method => :delete %>
		<% end %>
		<hr/>
	</div>
	<% end %>
	<%= link_to "New Post", new_post_path %>
<% end %>