<h1>Listing authors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= author.name %></td>
    <td><%= author.age %></td>
    <td><%= link_to 'Show', author %></td>
	<% if author_signed_in? %>
		<td><%= link_to 'Edit', edit_author_path(author) %></td>
		<td><%= link_to 'Destroy', author, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>		
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Author', new_author_path %>
